{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}

  {% comment %} 게시판 - 리뷰 목록 {% endcomment %}

  {% comment %} 사용자 인증이 되었다면 (user도 되고 request.user도 됨) {% endcomment %}
  {% if request.user.is_authenticated %}
    <div class='d-flex align-items-center'>
      <h1>{{ request.user }}</h1>
      <a class='btn btn-outline-danger mx-4' href="{% url 'accounts:logout' %}" style='width: 90px; height:35px;'>로그아웃</a>
    </div>
  {% endif %}

  index.html

  <table class="table">
    <thead>
      <tr>
        <th scope="col">pk</th>
        <th scope="col">제목</th>

      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <th>{{ review.pk }}</th>
          <td><a href="{% url 'articles:detail' review.pk %}">{{ review.title }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>

  <a class='btn btn-outline-info' href="{% url 'articles:new' %}">새 글 쓰기</a>

{% endblock body %}