{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}

  {% comment %} 회원 목록 페이지
  - `GET` http://127.0.0.1:8000/accounts/
  - 회원 목록 테이블
  - **username** 클릭 시 해당 회원 조회 페이지(프로필 페이지)로 이동 {% endcomment %}


  여기는 index.html - 회원 목록 게시판


  <table class="table">
    <thead>
      <tr>
        <th scope="col">pk</th>
        <th scope="col">제목</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <th>{{ user.pk }}</th>
          <td><a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a></td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class='btn btn-success float-end' href="{% url 'accounts:signup' %}">회원 추가</a>

{% endblock body %}