{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}

  {% comment %} 
  회원가입
  - `GET` http://127.0.0.1:8000/accounts/signup/
  - 회원가입 폼 **** {% endcomment %}

  여기는 signup.html

  <h1>회원가입</h1>
  {{ form.as_p}}
  <form action="" method='POST'>
    {% csrf_token %}
    {% comment %} {% bootstrap_form form %} {% endcomment %}
    {% bootstrap_button button_type='submit' content='OK' %}
    {% comment %} <a href="{% url 'practice:update' article.pk %}">수정하기</a> {% endcomment %}
  </form>

{% endblock body %}